.toggled-visibility {
    visibility: hidden;
}

.header-list-items-horizontal {
    display: inline;
}

.header-item-horizontal {
    display: inline-block;
    width: 100px;
}

@media only screen and (max-width: 700px) {
    .toggled-visibility {
        visibility: visible;
    }

    .header-list-items-horizontal {
        visibility: hidden;
    }
}